args==0.1.0
attrs==24.2.0
backoff==1.10.0
backports.csv==1.0.7
blinker==1.8.2
certifi==2024.7.4
cffi==1.17.0
chardet==3.0.4
charset-normalizer==3.3.2
click==8.1.7
clint==0.5.1
cryptography==43.0.0
docopt==0.6.2
Flask==3.0.3
Flask-Cors==4.0.1
Flask-SQLAlchemy==3.1.1
greenlet==3.0.3
idna==2.10
internetarchive==1.9.0
itsdangerous==2.2.0
Jinja2==3.1.4
jsonpatch==1.33
jsonpickle==0.9.3
jsonpointer==3.0.0
jsonschema==3.2.0
MarkupSafe==2.1.5
mysql-connector-python==9.0.0
pycparser==2.22
pymarc==3.2.0
pyOpenSSL==24.2.1
pyrsistent==0.20.0
requests==2.23.0
schema==0.7.7
simplejson==3.16.0
six==1.14.0
SQLAlchemy==2.0.32
typing_extensions==4.12.2
urllib3==1.25.11
Werkzeug==3.0.3
